
body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    
    
}
.sbar
{
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}


canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    

}

.word-art {
    font-family: 'Impact', sans-serif;
    font-size: 48px;
    color: #f1a80c;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);

}

input[type="checkbox"] {
    /* Your CSS properties here */
    width: 20px;
    height: 20px;
    float: right;
    border: none;
}
.eventhead
{
    color: #f1a80c;
    font-style: italic;
    font-weight: bolder;
}
.eventheads
{
    color: #ffffff;
    font-style: italic;
    font-weight: bolder;
}

@media (max-width: 480px) {
    .word-art {
       
        font-size: 28px;
       
    }
    .cse
    {
        font-size: 20px;
    }
}
